.content{
    height: 100%;
}

.content .leftContent{
    width: 333px;
    /*background-color: #000;*/
    text-align: center;
    /*border: 1px solid #f4f4f4;*/
    height: 825px;
}

.time_line{
    width: 95%;
    margin: 0px;
    /*background: #f4f4f4;*/
}

.file_div{
    /*background: greenyellow;*/
    border-top: 2px #C9DFED solid;
    height: 850px;
    width: 100%;
    overflow: auto;
}

.content .rightContent{
    left: 348px;
    height: 880px;
    /*border: 5px solid #f4f4f4;*/
}

.fileDir{
    margin: 10px 0px 0px 0px;
    padding-left: 20px;
    float: left;
    width: 47%;
}

.fileDir:hover{
    background-color: #f4f4f4;
}

.fileDir .folder_icon,
.fileDir .file_icon{
    display: inline-block;
    float: left;
    width: 120px;
    height: 90px;
    margin-top: 7px;
}

.fileDir .folder_icon{
     background: url("../images/fold_icon.png") no-repeat;
}

.fileDir .file_icon{
    background: url("../images/file_video.png") no-repeat;
}

.fileDir p{
    height: 45px;
}
.fileDir p {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    background: none;

}
.ellipsis{
    word-break: break-all;
    text-overflow: ellipsis;/**显示省略号**/
    display: -webkit-box; /** 将对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;/** 隐藏超出的内容 **/
    height:80px;
    margin: 0px;
    text-align: left;
    margin-left: 10px;
    padding-top: 25px;
    /*width: 380px;*/

}

.fileDir:hover{
    cursor:pointer;
}

.time_line a, .time_line{
    font-size: 14px;
    text-decoration: none;
}

.banner{
    background-color: #00c4ff;
}
.new_articles{
    margin-top: 5px;
    height: 740px;
    background-color: #fff;
    overflow: hidden;
}
.new_articles .new_articles_title{
    background-color: #f4f4f4;
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 5px;
}

.new_articles .article,
.new_articles .article:hover{
    cursor: pointer;
    margin-left: 5px;
    text-align: left;
    border: none;
    margin-top: 10px;

}
.new_articles .article p{
    float: left;
    font-size: 16px;
    padding: 5px 0px;
}

.new_articles .article .article_title,
.new_articles .article .article_title a,
.new_articles .article .article_createTime{
    width: 60%;
    text-align: left;
    color: #808080;
}

.new_articles .article .article_createTime{
    width: 30%;
    text-align: right;
    margin-right: 2px;
}
.videoPluginDpwnload{
    width: 28px;
    height: 30px;
    float: right;
    /*background-color: #f4f4f4;*/
}
.videoPluginDpwnload a{
    font-size: 10px;
    color: #0a001f;
    width: 28px;
    height: 28px;
    margin-top: 1px;
    display: inline-block;
    background: url("../images/file_dwonload_icon.png") no-repeat;
}

.leftContent .banner .uinfoDiv  h4{
    width: 80%;
    text-align: left;
}

.leftContent .banner .chickenSoup {
	margin-top: 7px;
	margin-left: 5px;
	color: #3D3D3D;
}