<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/static/css/index.css" />
		<link rel="stylesheet" href="/static/css/article.css" />
		<link rel="stylesheet" href="/static/plugins/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css">
		<script src="/static/plugins/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
		<script src="/static/js/jquery.js"></script>

		{% load CustomFilter %}

		<script>
			hljs.initHighlightingOnLoad();

			function getQueryVariable() {
				var window_location = window.location.href;
				window_location = decodeURI(window_location);
				var params = window_location.split("/");

				return params[params.length - 1];
			}
			window.onload = function() {
				var article_pk = getQueryVariable();
				articleDetails(article_pk);
			};

			function articleDetails(pk) {
			    var uid = $(".uinfoDiv").attr("uid");
				$.ajax({
					url: '../../articleDetails/',
					data: {
						pk: pk
					},
					dataType: 'json',
					success: function(data) {
						//console.log(data);
						if(data) {
							$(data).each(function(index, item) {
								if(item && item.fields) {
									var tags_str = '';
									var arr_tags = item.fields.tag;
									for(i in arr_tags) {
										tags_str += arr_tags[i].name + ' ';
									}
									var date_str = strFormat2Date(item.fields.createTime);

									//设置页面title
                                    $('title').text(item.fields.title);

									article_details_str = '<div class="editBtn"><a href="../../articleEdit/?articleid=' + pk + '&uid='+uid+'">编辑</a></div><h3>' + item.fields.title + '</h3>' +
                                        '<p>' +
                                        '<span>' + date_str + ' &nbsp;&nbsp;类别: ' + item.fields.classify.name + ' &nbsp;&nbsp;标签: ' + tags_str + ' </span>' +
                                        '</p>' +
                                        '<div class="article_content">' + item.fields.content + '</div>';

								}
								$('.articleDiv').append(article_details_str);
							});
						}

						$('pre code').each(function(i, e) {
							hljs.highlightBlock(e)
						});
					}
				})
			}

			function strFormat2Date(str) {
				var datetime = new Date(str);
				var year = datetime.getFullYear();
				var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
				var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
				var hour = datetime.getHours() < 10 ? "0" + datetime.getHours() : datetime.getHours();
				var minute = datetime.getMinutes() < 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
				var second = datetime.getSeconds() < 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
				return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
			}
		</script>
	</head>

	<body>
		<div class="nav">

			<a href="../?uid={{ userinfo.uid }}" target="_self"><img class="blogimg" src="/static/images/blog_icon.png" /></a>

			<!--<div class="addblogDiv">
				<a href="add_blog.html" target="_self"></a>
			</div>-->

			<div class="searchInput">
				<!--<input placeholder="搜索框"/>
				<button class="searhBtn">搜索</button>-->
			</div>

			<ul>
				<li>
					<a href="../../?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">笔记</a>
				</li>
				<li>
					<a href="../../bookMark/p/?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">书签</a>
				</li>
				<li>
					<a href="../../async/?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">文档</a>
				</li>
				<li>
					<a href="../../videoPlay/?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">视频</a>
				</li>
			</ul>

		</div>
		<div class="main">
			<div class="content">
				<div class="leftContent">
					<!-- 用户信息 -->
					<div class="banner">
						<div class="uinfoDiv clearfix" uid="{{ userinfo.uid }}">
							<div class="uhead">
                                <img src="{{ userinfo.headImg_48x48 }}">
                            </div>
							<h4>{{ userinfo.uname }}</h4>
							<p class="chickenSoup">{{ userinfo.chickenSoup }}</p>
						</div>
					</div>
					<!-- 时间 -->
					<div class="calendarDiv">
						<iframe class="clockFrame" scrolling="no" src="../../clock.html" style="width: 255px;height: 100px">
						</iframe>
					</div>
					<!-- 文章分类 -->
					<div class="articleClassify">
						<h4>分类</h4>
						<ul>
							{% for c in classify %}
								<li>
									<a href="#">{{ c.name }}</a>
								</li>
							{% endfor %}

						</ul>
					</div>
					<!--  文章标签  -->
					<div class="articleTag articleClassify">
						<h4>标签</h4>
						<ul>
							{% for t in tag %}
								<li>
									<a href="#">{{ t.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="rightContent">
					<!-- 文章 -->
					<div class="articleDiv">

					</div>
				</div>
			</div>

			<!--<div class="footer">
				<p class="Copyright">Copyright &copy;2019 &nbsp; www.xiaohong.com</p>

			</div>-->
		</div>
	</body>

</html>