<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>新增笔记</title>

		<link rel="stylesheet" href="/static/plugins/editorPlugin/css/editormd.css" />

		<script src="/static/js/jquery.js"></script>
		<script src="/static/plugins/editorPlugin/editormd.js"></script>

		<script src="/static/plugins/ckeditor/ckeditor.js?rn=1"></script>
		<link rel="stylesheet" href="/static/css/addBlog.css?rnd=1" />
		<script type="text/javascript">
			if(CKEDITOR.env.ie && CKEDITOR.env.version < 9)
				CKEDITOR.tools.enableHtml5Elements(document);

			// The trick to keep the editor in the sample quite small
			// unless user specified own height.
			CKEDITOR.config.height = 150;
			CKEDITOR.config.width = 'auto';

			var initSample = (function() {
				var wysiwygareaAvailable = isWysiwygareaAvailable(),
					isBBCodeBuiltIn = !!CKEDITOR.plugins.get('bbcode');

				return function() {
					var editorElement = CKEDITOR.document.getById('editor');

					// :(((
					if(isBBCodeBuiltIn) {
						editorElement.setHtml(
							'Hello world!\n\n' +
							'I\'m an instance of [url=https://ckeditor.com]CKEditor[/url].'
						);
					}

					// Depending on the wysiwygarea plugin availability initialize classic or inline editor.
					if(wysiwygareaAvailable) {
						CKEDITOR.replace('editor');
					} else {
						editorElement.setAttribute('contenteditable', 'true');
						CKEDITOR.inline('editor');

						// TODO we can consider displaying some info box that
						// without wysiwygarea the classic editor may not work.
					}
				};

				function isWysiwygareaAvailable() {
					// If in development mode, then the wysiwygarea must be available.
					// Split REV into two strings so builder does not replace it :D.
					if(CKEDITOR.revision == ('%RE' + 'V%')) {
						return true;
					}

					return !!CKEDITOR.plugins.get('wysiwygarea');
				}
			})();

			$(function() {
				initSample();

				editormd("test-editormd", {
					width: "70%",
					height: 1000,
					//lib目录的路径
					path: "/static/plugins/editorPlugin/lib/",
					saveHTMLToTextarea: true,
					/*
					 图片上传

					     返回值（上传后的返回值）：
					            {	success: 0（上传失败） | 1（上传成功）,
					                message: "成功或失败的提示信息",
					                url: （图片地址--上传成功时才返回）
					            }
					*/
					imageUpload: true,
					imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
					imageUploadURL: "/static/uploadfiles/articleImg",
				});
			});

			function addItem(obj, flag) {
				//flag = 1：添加分类     flag = 2：添加标签
				var cl = flag == 2 ? '.articletag' : '.classify';
				var checkname = flag == 2 ? 'checkboxTag' : 'checkboxClassify';
				var inputDiv = '<div class="textInputDiv" ondblclick="editClassfyFunc(this)">' +
					'<input type="text" id="editInput" class="editInput" disabled="true" onblur="EditInputOnblurFunc(this,' + flag + ')"/>' +
					'</div>';

				var itemDivStr = '<div class="itemDiv" id="itemDiv">';

				if(flag == 1) {
					itemDivStr = '<div class="itemDiv" id="itemDiv"  onclick="classifyChanged(this)">';
				}

				var str = itemDivStr + '<div class="checkboxDiv">' +
					'<input type="checkbox" name="' + checkname + '" class="checkbox_classfy" />' +
					'</div>' + inputDiv + '' +
					'<div class="editClassfyDiv" id="editClassfyDiv">' +
					'</div>' +
					'</div>';
				// 查找classify 下的 selectDiv
				var selectDiv = $(obj).parent(cl).find('.selectDiv');
				var editInput = $(obj).parent(cl).find('.selectDiv').children("div:last-child").find('.editInput');
				// 向 selectDiv 下添加 itemDiv
				$(selectDiv).append(str);
				//获取 selectDiv 中最后一个 itemDiv
				var lastselectDiv = $(selectDiv).children("div:last-child");
				//设置最后一个 textInputDiv 中的input 处于编辑状态
				editClassfyFunc($(lastselectDiv).find('.textInputDiv'));
			}

			function editClassfyFunc(obj) {
				// 获取当前时间对象的 class = 'itemDiv' 的父元素
				var pel = $(obj).parent('.itemDiv');
				var el = $(pel).find(".editInput");

				$(el).attr('disabled', false);
				$(el).focus();
				//$(pel).find(".editClassfyDiv").css('display', 'block');
			}

			function EditInputOnblurFunc(obj, flag) {
				var itemDivEl = $(obj).parent().parent();
				var inputVal = $(obj).val();
				var cl = '.classify';
				var tipS = '分类已存在';
				if(flag == 2) {
					cl = '.articletag';
					tipS = '标签已存在';
				}
				//如果当前输入框对象的 value 值是空，则删除分类/标签数据
				if(!inputVal) {
					//获取分类/标签ID
					var index_db = $(obj).attr('index_db');
					//删除分类/标签
					delClassfyTagInputVal(index_db, flag, obj);
					// 删除当前元素以及所有子元素
					$(itemDivEl).remove();
					return;
				}

				//console.log($(itemDivEl).index());
				//如果当前要保存的名称已存在则返回
				var hasSameName = false;
				$(cl).find('.editInput').each(function(index, item) {
					//如果当前事件对象的索引值等于循环中的index索引值，说明是当前修改的对象，则不进行值比较
					if(index != $(itemDivEl).index()) {
						if($(item).val().toLowerCase() == inputVal.toLowerCase()) {
							showTipSpan(flag, tipS, 'block');
							hasSameName = true;
							//结束循环
							return false;
						}
					}
				})

				if(hasSameName) {
					$(obj).focus();
					return;
				}
				//当前输入框对象的 value 值不是空，则保存数据
				$(obj).attr('disabled', true);
				//				console.log($(obj).attr('disabled'));
				//				$(itemDivEl).find(".editClassfyDiv").css('display', 'none');

				//如果当前保存的值 == 已有的原始值则返回
				if($(obj).attr('oldValue') == inputVal) {
					return;
				}

				//console.log($(obj).attr('index_db'));
				saveClassfyTagInputVal(inputVal, flag, obj, $(obj).attr('index_db'));
			}

			function saveClassfyTagInputVal(text, flag, obj, id) {
				var urlS = flag == 2 ? '../addArticleTag/' : '../addArticleClassify/';
				var uid = $('.uinfoDiv').attr("uid");
				$.ajax({
					url: urlS,
					data: id ? {
						value: text,
						id: id
					} : {
						value: text,
						uid: uid
					},
					type: 'GET',
					dataType: 'json',
					success: function(args) {
						//                      console.log(args);
						//新增分类或标签
						if(args.action == 'addArticleClassify' || args.action == 'addArticleTag') {
							//args.status = 1 保存成功  args.status = 0 失败
							if(args.status < 1) {
								showTipSpan(flag, args.msg, 'block');
								// 保存失败，把输入框中的值恢复到原有值
								$(obj).attr('oldValue', $(obj).attr('oldValue'));
							} else {
								showTipSpan(flag, '', 'none');
								//设置当前添加修改对象的oldValue值
								$(obj).attr('oldValue', text);

								if(!$(obj).attr('index_db')) {
									$(obj).attr('index_db', args.id);
								}
								//给CheckBox设置value值
								var objParent = $(obj).parents('.itemDiv');
								var checkbox_classfy = $(objParent).find('.checkbox_classfy');
								$(checkbox_classfy).attr('value', args.id);
								$(checkbox_classfy).change(function() {
									checkBoxChanged(this);
								});

								//console.log($(obj).parents('.itemDiv'));
								if(args.action == 'addArticleClassify') {
									$(objParent).attr('value', args.id);
								}
							}
						}
						//修改分类或标签
						else if(args.action == 'updateArticleClassify' || args.action == 'updateArticleTag') {
							if(args.status < 1) {
								showTipSpan(flag, args.msg, 'block');
								// 修改失败，把输入框中的值恢复到原有值
								$(obj).attr('oldValue', $(obj).attr('oldValue'));
							} else {
								showTipSpan(flag, '', 'none');
								//设置当前添加修改对象的oldValue值
								$(obj).attr('oldValue', text);
							}
						}
					}
				});
			}

			function delClassfyTagInputVal(id, flag, obj) {
				var urlS = flag == 2 ? '../delArticleTag/' : '../delArticleClassify/';
				$.ajax({
					url: urlS,
					data: {
						id: id
					},
					type: 'GET',
					dataType: 'json',
					success: function(args) {
						//console.log(args);
						if(args.status < 1) {
							showTipSpan(flag, args.msg, 'block');
						} else {
							showTipSpan(flag, '', 'none');
						}
					},
				});
			}

			function showTipSpan(flag, msg, show) {
				var cl = flag == 2 ? '.articletag' : '.classify';
				var obj = $(cl).find('.tipSpan');
				$(obj).text(msg + " !");
				$(obj).css('display', show);
			}

			function saveData() {
				//获取标题
				var articleTitle = $('.articleTitle').val();
				//获取文章内容
				var articleContent = CKEDITOR.instances.editor.getData();

				var articleid = $('.article_id').attr('value');
				//获取属性name='checkboxClassfy' 和 选中的 input 标签的value

                var uid = $(".uinfoDiv").attr("uid");

				if(!articleTitle) {
					alert("内容不能为空");
					return;
				}

				if(!articleContent) {
					alert("内容不能为空");
					return;
				}

				var classifyId;
				var selectedClassifyItem = $('.classify').find(".itemDiv[seleted='true']");
				if(selectedClassifyItem) {
					classifyId = $(selectedClassifyItem).attr("value");
				}
				//alert(classifyId);
				//获取属性name='checkboxTag' 和 选中的 input 标签的value值
				var articleTagIds = [];
				$("input[name='checkboxTag']:checked").each(function() {
					articleTagIds.push(parseInt($(this).attr('value')));
				});

				if(!classifyId) {
					alert('请选择文章分类！');
					return;
				}

				if(articleTagIds.length == 0) {
					alert('请选择文章标签！');
					return;
				}

				$.ajax({
					url: '../addArticle/',
					type: 'post',
					data: {
						pk: articleid,
						articleTitle: articleTitle,
						articleContent: articleContent,
						classifyId: classifyId,
						tagIds: articleTagIds,
                        uid: uid
					},
					dataType: 'json',
					traditional: true,
					success: function(args) {
						//console.log(args);
						if(args.status) {
							window.location = '../?uid='+ uid;
						} else {
							alert('数据保存失败');
						}
					}
				});
			}

			function checkBoxChanged(obj) {
				var positionx = 0;
				if(obj.checked) {
					positionx = 48;
				}

				//console.log(obj);
				$(obj).parent('.checkboxDiv').css({
					'background-image': 'url(/static/images/blue.png)',
					'background-position-x': '-' + positionx + 'px',
					'background-position-y': '0px',
					'background-repeat': 'no-repeat'
				});
			}
		</script>

		<script>
			function getQueryVariable(paramName) {
			    var paramVal = "";
				var window_location = window.location.href;
				window_location = decodeURI(window_location);
                var params = window_location.match(/[^?&]+=[^&]+/g);
                //console.log(window_location, params);
                if(params){
                    for(var i=0; i<params.length; i++){
                        //console.log(params[i]);
                        if(params[i].split("=")[0] == paramName){
                            paramVal = params[i].split("=")[1];
                            break;
                        }
                    }
                }
				return paramVal;
			}
			window.onload = function() {
				var article_pk = getQueryVariable("articleid");
				//console.log('getQueryVariable: ' + article_pk);
				post_article(article_pk);

			}

			function addEvent() {
				$(".checkbox_classfy").change(function() {
					//alert(this.checked);
					checkBoxChanged(this);
				});
				$(".unsave_article").click(function() {
					//alert(this.checked);
					canclePublishArticle(this);
				});

				$(".save_article").click(function() {
					saveData();
				});
			}

			function canclePublishArticle() {
			    var uid = $(".uinfoDiv").attr("uid");
				window.location = '../?uid='+ uid;
			}

			function post_article(pk) {
			    var uid = $(".uinfoDiv").attr("uid");
				$.ajax({
					url: '../postedit/',
                    type: "POST",
					data: {
						pk: pk,
                        uid: uid
					},
					dataType: 'json',
					success: function(args) {
						//console.log(args);
						//console.log(JSON.parse(args.article));
						var ret_article = JSON.parse(args.article);
						if(JSON.parse(args.article)) {
							ret_article = JSON.parse(args.article)[0];
						}
						var ret_classify = JSON.parse(args.classify);
						var ret_tag = JSON.parse(args.tag);
						var tag_old = null;

						if(ret_article) {
							tag_old = ret_article.fields.tag;
							//设置标题、内容
							$('.articleTitle').attr('value', ret_article.fields.title);
							CKEDITOR.instances.editor.setData(ret_article.fields.content);
							$('.article_id').attr('value', ret_article.pk);

							//设置页面title
                            $('title').text('编辑-' + ret_article.fields.title);
						}

						var classifyret_str = '';
						var tagret_str = '';
						for(i in ret_tag) {
							var checkbox_str = '<input type="checkbox" class="checkbox_classfy" name="checkboxTag" value="' + ret_tag[i].pk + '" />';
							if(tag_old) {
								for(n in tag_old) {
									if(tag_old[n].id == ret_tag[i].pk) {
										checkbox_str = '<input type="checkbox" class="checkbox_classfy" name="checkboxTag" value="' + ret_tag[i].pk + '"  checked/>';
										continue;
									}
								}
							}
							tagret_str += '<div class="itemDiv" id="itemDiv"><div class="checkboxDiv">' + checkbox_str + '</div><div class="textInputDiv" ondblclick="editClassfyFunc(this)"><input type="text" value="' + ret_tag[i].fields.name + '" id="editInput" oldValue="' + ret_tag[i].fields.name + '" index_db="' + ret_tag[i].pk + '" class="editInput" disabled="true" onblur="EditInputOnblurFunc(this, 2)"/></div></div>';
						}

						for(i in ret_classify) {
							//修改文章的时候需要判断文章当前所属分类，然后设置为选中状态
							if(ret_article && ret_article.fields.classify.id == ret_classify[i].pk) {
								classifyret_str += '<div class="itemDiv" id="itemDiv"  onclick="classifyChanged(this)" value="' + ret_classify[i].pk + '" selected="true"><div class="checkboxDiv"><input type="checkbox" class="checkbox_classfy"  name="checkboxClassfy" value="' + ret_classify[i].pk + '" checked /> </div><div class="textInputDiv" ondblclick="editClassfyFunc(this)"><input type="text" value="' + ret_classify[i].fields.name + '" id="editInput" oldValue="' + ret_classify[i].fields.name + '" index_db="' + ret_classify[i].pk + '" class="editInput" disabled="true" onblur="EditInputOnblurFunc(this, 1)"/></div></div>';
							} else {
								classifyret_str += '<div class="itemDiv" id="itemDiv"  onclick="classifyChanged(this)" value="' + ret_classify[i].pk + '"><div class="checkboxDiv"><input type="checkbox" class="checkbox_classfy"  name="checkboxClassfy" value="' + ret_classify[i].pk + '" /> </div><div class="textInputDiv" ondblclick="editClassfyFunc(this)"><input type="text" value="' + ret_classify[i].fields.name + '" id="editInput" oldValue="' + ret_classify[i].fields.name + '" index_db="' + ret_classify[i].pk + '" class="editInput" disabled="true" onblur="EditInputOnblurFunc(this, 1)"/></div></div>';
							}
						}
						//设置分类、标签
						$('.tag_selectDiv').append(tagret_str);
						$('.classify_selectDiv').append(classifyret_str);

						//设置分类、标签选中状态
						/**
                        $("input[name='checkboxClassfy']:checked").each(function(){
                            checkBoxChanged(this);
                       });
                         **/

						var defSelectedClassifyItem = $(".classify").find(".itemDiv[selected='true']");
						classifyChanged(defSelectedClassifyItem);

						$("input[name='checkboxTag']:checked").each(function() {
							checkBoxChanged(this);
						});

						addEvent();
					}
				});
			}

			function classifyChanged(obj) {
				var oldSelectedItem = $('.classify').find(".itemDiv[seleted='true']");
				//清除前一个选中项的样式和选中属性
				if(oldSelectedItem && oldSelectedItem != obj) {
					$(oldSelectedItem).css("background-color", "#ffffff");
					$(oldSelectedItem).removeAttr("seleted");
				}
				//设置当前选中项的样式
				$(obj).css("background-color", "#70B7FF");
				$(obj).attr("seleted", true);

			}
		</script>
	</head>

	<body>
		<div class="nav">

			<!-- 用户信息 -->
			<div class="uinfoDiv clearfix" uid="{{ userinfo.uid }}">
                <div class="uhead">
                    <img src="{{ userinfo.headImg_35x35 }}" title="{{ userinfo.uname }}">
                </div>
            </div>

			<input class="article_id" hidden/>
			<a href="../?uid={{ userinfo.uid }}" target="_self"><img class="blogimg" src="/static/images/blog_icon.png" /></a>

			<!--<div class="addblogDiv">
				<a href="add_blog.html" target="_self"></a>
			</div>-->

			<ul>
				<li>
					<a href="../?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">笔记</a>
				</li>
				<li>
					<a href="../bookMark/p/?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">书签</a>
				</li>
				<li>
					<a href="../async/?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">文档</a>
				</li>
				<li>
					<a href="../videoPlay/?uid={{ userinfo.uid }}" style="border-bottom: 0px solid #ffffff;">视频</a>
				</li>
			</ul>

		</div>
		<div class="mainDiv">
			<div class="articleTitleDiv">
				<input class="articleTitle" placeholder="输入文章标题" />
				<p>0/100</p>
			</div>

			<div class="classify_tag">
				<div class="classify">
					<a href="javascript:void(0);" onclick="addItem(this, 1)" class="classify_addbtn"></a>
					<h4>文章分类</h4>
					<p class="tipSpan">有未保存的分类 !</p>
					<div class='selectDiv classify_selectDiv'>

					</div>
				</div>

				<div class="articletag">
					<a href="javascript:void(0);" onclick="addItem(this, 2)" class="articletag_addbtn"></a>
					<h4>文章标签</h4>
					<p class="tipSpan"> 有未保存的标签 !</p>
					<div class='selectDiv tag_selectDiv'>

					</div>
				</div>
			</div>

			<!-- ckeditor -->
			<div class="adjoined-bottom">
				<div class="grid-container">
					<div class="grid-width-100">
						<div id="editor">
						</div>
					</div>
				</div>
			</div>
			<!-- editormd -->
			<div class="editormd" id="test-editormd" hidden>
				<textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"></textarea>
				<!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
				<textarea class="editormd-html-textarea markdownText" name="text"></textarea>
			</div>

			<div class="article_active">
				<a href="javascript:void(0);" class="save_article">发布</a>
				<a href="javascript:void(0);" class="unsave_article">取消</a>
			</div>
		</div>

	</body>

</html>