<!DOCTYPE html>
<HTML>

	<HEAD>
		<TITLE> </TITLE>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/static/plugins/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
		<link rel="stylesheet" href="/static/css/index.css?rn=11" />
		<link rel="stylesheet" href="/static/css/async.css?rn=21" />
        <link rel="stylesheet" href="/static/plugins/ckeditor/plugins/codesnippet/lib/highlight/styles/idea.css">
        <script type="text/javascript" src="/static/plugins/zTree_v3/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/plugins/zTree_v3/js/jquery.ztree.core.js"></script>
		<script src="/static/plugins/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
        <script type="text/javascript" src="/static/js/settings.js"></script>
		<!--  <script type="text/javascript" src="../../../js/jquery.ztree.excheck.js"></script>
	  <script type="text/javascript" src="../../../js/jquery.ztree.exedit.js"></script>-->
		<SCRIPT type="text/javascript">
			<!--
			var setting = {
				async: {
					enable: true,
					url: "../list_dir/",
					autoParam: ["id", "name=n", "level=lv"],
					otherParam: treeNodePath,
					dataFilter: filter
				},

				callback: {
					onClick: zTreeOnClick,
					onDblClick: zTreeOnDblClick
				}
			};

			function treeNodePath(treeId, treeNode) {
				//console.log(treeNode);
				var path = null;
				if(treeNode) {
					path = treeNode.path;
				} else {
					path = doc_root_path;
				}
				return {
					'fpath': path,
					'type': 'all'
				};
			}

            var allow_extensions = {'txt':'txt', 'html':'html', 'py':'py', 'css':'css', 'js':'js', 'bat':'bat', 'xml':'xml', 'mxml':'mxml', 'tcl':'tcl', 'ini':'ini', 'md':'md', 'vbs':'vbs', 'as':'as', 'json':'json', 'php':'php', 'java':'java', 'jsp':'jsp'};
			var notAllow_extensions = ['png', 'jpg', 'bmp', 'gif', 'jpeg', 'png', 'pdf', 'sqlite3', 'dll', 'exe', 'swf', 'tmp', 'vch', 'lib', 'rar', 'zip'];

			function zTreeOnDblClick(event, treeId, treeNode) {
				//console.log(treeNode.getPath());
				//alert(treeNode ? treeNode.tId + ", " + treeNode.name + ", " + treeNode.getPath() : 'isRoot');
				if(treeNode && !treeNode.isParent) {
					var path = treeNode.path;
					var suffix_name = getFileNameSuffix(treeNode.name).toLowerCase();
                    //alert(allow_extensions[suffix_name]);

					if(suffix_name && suffix_name.length > 0 && !allow_extensions[suffix_name]){
                        alert('无法打开' + suffix_name + '类型文件');
                    }else {
                        var selNodePath = '';
                        var nodes = treeNode.getPath();
                        for (i in nodes) {
                            selNodePath += nodes[i].name + ' / ';
                        }
                        readFile(path, treeNode.name, selNodePath.substring(0, selNodePath.length - 2));
                    }
				}
			};

			function getFileNameSuffix(name) {
				var arr = name.split('.');
				console.log(arr);
				var suffix_name = "";
				if(arr.length > 1){
				    suffix_name = arr[arr.length - 1];
                }
				return suffix_name;
			}

			/** 读取文件内容
			 *  path: 文件在硬盘位置的路径
			 *  selNodePath: 当前选中的节点在目录树结构中的位置路径
			 *  name: 节点名称
			 */
			function readFile(path, name, selNodePath) {
				$.ajax({
					url: '../readFile/',
					data: {
						fpath: path
					},
					dataType: 'json',
					type: 'post',
					success: function(ret) {
						//console.log(ret);
						if(ret.status) {
							pasrseData(ret.data, name, selNodePath);
						} else {
							alert(ret.data);
						}
					}
				});
			}

			function pasrseData(data, name, selNodePath) {
				var suffix_name = getFileNameSuffix(name);
				var lan = 'no-highlight';

				switch(suffix_name.toLowerCase()) {
					case 'html':
					case 'jsp':
						lan = 'language-html';
						data = unhtml(data);
						break;
					case 'py':
						lan = 'language-python';
						break;
					case 'css':
						lan = 'language-css';
						break;
					case 'js':
						lan = 'language-javascript';
						break;
					case 'bat':
						lan = 'language-bash';
						break;
					case 'xml':
                    case 'mxml':
						lan = 'language-xml';
						data = unhtml(data);
						break;
					case 'tcl':
						lan = 'language-tcl';
						break;
					case 'ini':
						lan = 'language-INI';
						break;
					case 'md':
						lan = 'language-markdown';
						break;
					case 'vbs':
						lan = 'language-vbscript';
						break;
                   //
                    case 'as':
                        lan = 'language-ActionScript';
                        break;
                    case 'json':
                        lan = 'language-json';
                        break;
                    case 'php':
                        lan = 'language-php';
                        break;
                    case 'java':
                        lan = 'language-java';
                        break;

				}

				var pre_el = $('.article_content').find('pre');
				if(pre_el) {
					$(pre_el).remove();
				}

				$('.article_content').append('<pre><code class="' + lan + '">' + data + '</code></pre>');
				$('.time_line').find('span').text(selNodePath);
				$('pre code').each(function(i, e) {
					hljs.highlightBlock(e)
				});
			}

			/** 将text中的html字符转义， 仅转义  ', ", <, > 四个字符
			 * @param  { String } str 需要转义的字符串
			 * @returns { String }     转义后的字符串
			 */
			function unhtml(str) {
			    if(str){
			        return str ? str.replace(/[<">']/g, (a) => {
                        return {
                            '<': '&lt;',
                            '"': '&quot;',
                            '>': '&gt;',
                            "'": '&#39;'
                        }[a]
				    }) : '';
                }else{
			        return str;
                }
			}

			function zTreeOnClick(event, treeId, treeNode) {
				if(treeNode.isParent) {
					return false;
				}
				//alert(treeNode.tId + ", " + treeNode.name);
			}

			function filter(treeId, parentNode, childNodes) {
				//alert('1111111');//
				if(!childNodes) return null;
				for(var i = 0, l = childNodes.length; i < l; i++) {
					childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
				}
				return childNodes;
			}

			$(document).ready(function() {
				$.fn.zTree.init($("#treeDemo"), setting);

			});
			//-->

			hljs.initHighlightingOnLoad();
		</SCRIPT>
	</HEAD>

	<BODY>

		<div class="nav">

			<a href="../" target="_self"><img class="blogimg" src="/static/images/blog_icon.png" /></a>

			<!--<div class="addblogDiv">
				<a href="../articleEdit/" target="_self"></a>
			</div>-->

			<div class="searchInput">
				<!--<select class="searchType">
                    <option value="1" selected>标题</option>
                    <option value="2">分类</option>
                    <option value="3">标签</option>
                </select>

				<input placeholder="搜索框"/>
				<button class="searhBtn">搜索</button>-->
			</div>
			<ul>
				<li>
					<a href="../?uid={{ userinfo.uid }}">笔记</a>
				</li>
				<li>
					<a href="../bookMark/p/?uid={{ userinfo.uid }}">书签</a>
				</li>
				<li>
					<a href="./?uid={{ userinfo.uid }}" style="border-bottom: 2px solid red;">文档</a>
				</li>
				<li>
					<a href="../videoPlay/?uid={{ userinfo.uid }}">视频</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="content clearfix1">
				<div class="leftContent">
					<!-- 用户信息 -->
					<div class="banner">
						<div class="uinfoDiv clearfix" uid="{{ userinfo.uid }}">
                            <div class="uhead">
                                <img src="{{ userinfo.headImg_48x48 }}">
                            </div>
                            <h4>{{ userinfo.uname }}</h4>
                            <p class="chickenSoup">{{ userinfo.chickenSoup }}</p>
                        </div>
					</div>
					<ul id="treeDemo" class="ztree"></ul>
				</div>
				<div class="rightContent">
					<!-- 面包屑 -->
					<div class="time_line">
						<p> <strong> >> </strong> <span>Root</span></p>
					</div>
					<div class="article_content">

					</div>
				</div>
			</div>

		</div>
	</BODY>

</HTML>