<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>

		<link rel="stylesheet" href="/static/css/index.css?rn=1122"/>
{#        <link rel="stylesheet" href="/static/css/video_play.css?rn=11"/>#}
        <link rel="stylesheet" href="/static/css/bookmark.css?rn=121"/>
        <script src="/static/js/jquery.js"></script>
        {% load  CustomFilter %}

        <script>
            var pageSize = 15;
            var currentPageNum = 0;

            window.onload=function(){
                bookMark('loadMoreBookMark-'+pageSize+'-'+currentPageNum);
            };

            function strFormat2Date(str){
                var datetime = new Date(str);
                var year = datetime.getFullYear();
                var month = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1;
                var date = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate();
                var hour = datetime.getHours()< 10 ? "0" + datetime.getHours() : datetime.getHours();
                var minute = datetime.getMinutes()< 10 ? "0" + datetime.getMinutes() : datetime.getMinutes();
                var second = datetime.getSeconds()< 10 ? "0" + datetime.getSeconds() : datetime.getSeconds();
                return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
            }



            function changeTimeLine(type, name){
                var el_p = $('.time_line').find('p');
                var el_span = $(el_p).find('span');
                if(el_span){
                    $(el_span).remove();
                }
                 if(type != 'all'){
                     if(type == 'classify'){
                         type = '文章分类';
                     }
                     if(type == 'tag'){
                        type = '文章标签';
                     }
                    $(el_p).append('<span> > '+type+' > '+name+'</span>');
                }
            }

            function addNewBooMark(){
                var des = $('.bookMarkDes').val("");
                var url = $('.bookMarkUrl').val("");
                //设置分类默认选中全部
                $(".markClassifySel").find("option[value='-1']").prop("selected",true);

                $('.addBookmarkForm').removeAttr('bookmarkid');

                $(".addBookmarkForm").css("display","block");
                $(".addBookmarkBtn").css("display","none");
            }

            function cancleAddBookMark(){
                $(".addBookmarkForm").css("display","none");
                $(".addBookmarkBtn").css("display","block");
            }

            var bookMarkClassifyOpreation = "";

            function addNewMarkClassify(){
                bookMarkClassifyOpreation = 'add';

                $(".addNewClassify").val("");
                $(".addNewClassify").removeAttr("classifyId");
                updateBookMarkCompDisplay("none", "inline-block");
            }

            function editMarkClassify(){
                $(".addNewClassify").removeAttr("classifyId");

                bookMarkClassifyOpreation = 'update';

                var currentSelectOption = $(".markClassifySel").find("option:selected");

                var currentSelectClassify = $(currentSelectOption).text();
                var classifyPk = $(currentSelectOption).attr("value");

                if(classifyPk == -1){
                    alert('请选择要修改的分类');
                    return;
                }

                $(".addNewClassify").val(currentSelectClassify);
                $(".addNewClassify").attr('classifyid', classifyPk);
                updateBookMarkCompDisplay("none", "inline-block");
            }

            function cancleSaveMarkClassify(){
                updateBookMarkCompDisplay("inline-block", "none");
            }

            function updateBookMarkCompDisplay(value1, value2){
                $(".markClassifySel").css("display",value1);
                $(".addNewClassifyBtn").css("display",value1);
                $(".editClassifyBtn").css("display",value1);

                $(".addNewClassify").css("display",value2);
                $(".cancleSaveNewClassifyBtn").css("display",value2);
                $(".saveNewClassifyBtn").css("display",value2);
            }

            function saveMarkClassify(){
                var classifyName = $(".addNewClassify").val();
                var uid = $(".uinfoDiv").attr('uid');
                console.log(classifyName, uid);
                if(!classifyName && bookMarkClassifyOpreation == 'add'){
                    alert("请输入要添加的标签分类");
                    return;
                }

                if(bookMarkClassifyOpreation == 'update'){
                     var classifyPk = $(".addNewClassify").attr("classifyid");
                     if(!classifyPk){
                         classifyPk = "";
                     }

                     if(!classifyName){
                         bookMarkClassifyOpreation = "del";
                     }
                }
                $.ajax({
                    url:'../../bookMarkClassify/'+ bookMarkClassifyOpreation +'/' + classifyPk,
                    data:{name:classifyName,uid:uid},
                    type:'GET',
                    dataType:'json',
                    success:function (args){
                        if(args.status){
                            var currentSelectOption = $(".markClassifySel").find("option:selected");
                            if(args.opration == 'add'){
                                var classify = args.classify;
                                $('.markClassifySel').append('<option value="'+ classify.id +'" selected>'+ classify.name +'</option>');

                                var classifyItem = '<div class="bookMarkClassifyItem" classifyid="'+ classify.id +'">' +
                                    '<a href="#" onclick="getArticlesByTag('+ classify.id +', '+ classify.name +')">'+ classify.name +'</a>' +
                                    '<a href="#">100个</a>' +
                                    '</div>';
                                $('.bookMarkClassifyDiv').append(classifyItem);

                            }
                            else if(args.opration == 'update'){
                                $(currentSelectOption).text(args.classify.name);
                                $('.bookMarkClassifyDiv').find("div[classifyid='"+ args.classify.pk+"']").find("a:first").text(args.classify.name);
                            }
                            else if(args.opration == 'del'){
                                $(currentSelectOption).remove();

                                $('.bookMarkClassifyDiv').find("div[classifyid='"+ args.classify+"']").remove();
                            }
                        }
                        updateBookMarkCompDisplay("inline-block", "none");
                        alert(args.message);
                    }
                });
            }

            function addBookMark(){

            }

            var load_over = '已加载到最后';
            var click_load_more = '点击加载更多';
            var no_data = '暂无文章';
            var bookMarkOpration = "p";

            function bookMark(bookMarkOpration){

                var des = $('.bookMarkDes').val();
                var url = $('.bookMarkUrl').val();
                var uid = $(".uinfoDiv").attr('uid');
                var classifyId = $(".markClassifySel").find("option:selected").attr('value');
                var bookMarkPK = $('.addBookmarkForm').attr('bookmarkid');

                if(bookMarkPK){
                    bookMarkOpration = 'edit';
                }

                if(bookMarkOpration.indexOf('loadMoreBookMark-') < 0){
                    if(!des){
                        alert('请输入书签描述');
                        return;
                    }
                    if(!url){
                        alert('请输入书签连接地址');
                        return;
                    }
                }
                $.ajax({
                    url: '../'+ bookMarkOpration +'/'+ bookMarkPK,
                    data:{des:des, url:url, uid: uid, classifyId:classifyId},
                    type: 'Post',
                    dataType:'json',
                    success:function (args) {
                        if(args.status){
                            if(args.opration == 'add'){
                                //addBookMarkItemTobBookMarkDiv(args.bookMark.classifyid, args.bookMark.title, args.bookMark.pk, args.bookMark.location);
                            }else if(args.opration == 'edit'){
                                updateBookMark(args);
                            }else if(args.opration == 'del'){

                            }else if(args.opration == 'loadMoreBookMark'){
                                analysisBookMarksData(args);
                            }
                        }

                        if((!args.opration == 'loadMoreBookMark') || (args.opration == 'loadMoreBookMark' && !args.status)){
                             alert(args.message);
                        }
                    }
                });
            }

            function updateBookMark(args){

                var currentEditBookMark = $('.bookMarkDiv').find(".bookMarkItem[bookmarkid='"+args.bookMarkPk+"']");

                var bookMarkTitleEl = $(currentEditBookMark).find('.bookMarkTitle');
                $(bookMarkTitleEl).attr('href', args.localtion);
                $(bookMarkTitleEl).attr('classifyid', args.classifyId);
                $(bookMarkTitleEl).text(args.des);

                var editBookMarkBtnEl = $(currentEditBookMark).find('.editBookMark');
                $(editBookMarkBtnEl).attr('onclick', editBookMark(this, args.bookMarkPk));

                var delBookMarkBtnEl = $(currentEditBookMark).find('.delBookMark');
                $(delBookMarkBtnEl).attr('onclick', delBookMark(this, args.bookMarkPk));
            }

            function analysisBookMarksData(args){
                var ret_bookMark = args.bookMarks;

                if(ret_bookMark && ret_bookMark.length > 0){
                    ret_bookMark = JSON.parse(ret_bookMark);
                }else{
                    return;
                }
                console.log(ret_bookMark);
                if(ret_bookMark){
                    var ret_bookMarkLen = ret_bookMark.length;
                     if(ret_bookMarkLen > 0){
                        for(var i=0; i<ret_bookMark.length; i++){
                            var bookMar = ret_bookMark[i];
                            var classifyid = -1;
                            if(bookMar.classify){
                                classifyid = bookMar.classify.id;
                            }
                            addBookMarkItemTobBookMarkDiv(classifyid, bookMar.fields.title, bookMar.pk, bookMar.fields.location);
                        }
                    }
                    if(ret_bookMarkLen == 0){
                        if(currentPageNum == 0){
                            updateLoadMoreBtnText(no_data);
                            updateCurrentPageNum(0);
                        }
                     }else if(ret_bookMarkLen < pageSize){
                            updateLoadMoreBtnText(load_over);
                            updateCurrentPageNum(args.currentPageNum);
                     }else{
                          updateLoadMoreBtnText(click_load_more);
                          updateCurrentPageNum(args.currentPageNum);
                     }
                }
            }

            function updateCurrentPageNum(num){
                currentPageNum = num;
            }

            function updateLoadMoreBtnText(value) {
                $('.load_more').find('a:first').text("");
                $('.load_more').find('a:first').text(value);
            }

            function addBookMarkItemTobBookMarkDiv(classifyid, bookMarkTitle, bookMarkPk, bookMarkLocation){
                 var bookMarkItem = '<div class="bookMarkItem" bookmarkid="'+ bookMarkPk +'">' +
                                    '<a href="'+ bookMarkLocation +'" class="bookMarkTitle"  target="_blank" classifyid="'+ classifyid +'">'+ bookMarkTitle +'</a>' +
                                    '<a href="javascript:void(0);" class="editBookMark" onclick="editBookMark(this,'+ bookMarkPk +')">编辑</a>' +
                                    '<a href="javascript:void(0);" class="delBookMark" onclick="delBookMark(this, '+ bookMarkPk +')">删除</a>' +
                                    '</div>';
                                $('.bookMarkDiv').append(bookMarkItem);

            }
            function editBookMark(el, id){
                var bookMarkEl = $(el).prev(".bookMarkTitle");
                $('.bookMarkDes').val($(bookMarkEl).text());
                $('.bookMarkUrl').val($(bookMarkEl).attr('href'));
                var classifyid = $(bookMarkEl).attr('classifyid');

                //设置分类默认选中全部
                $(".markClassifySel").find("option[value='"+ classifyid +"']").prop("selected",true);

                $('.addBookmarkForm').removeAttr('bookmarkid');

                $(".addBookmarkForm").css("display","block");
                $(".addBookmarkBtn").css("display","none");

                $('.addBookmarkForm').attr('bookmarkid', id);
            }

            function delBookMark(id){

            }
        </script>
	</head>
	<body>
		<div class="nav">

            <a href="/blog/" target="_self"><img class="blogimg" src="/static/images/blog_icon.png"/></a>

			<div class="addblogDiv">
				<!--<img src="images/blog_add.png" />-->
				<a href="articleEdit/" target="_self"></a>
			</div>

			<div class="searchInput">
                <select class="searchType">
                    <option value="1" selected>标题</option>
                    <option value="2">分类</option>
                    <option value="3">标签</option>
                </select>

				<input placeholder="搜索框"/>
				<button class="searhBtn">搜索</button>
			</div>

			<ul>
				<li><a href="#">主页</a></li>
				<li><a href="#">文章</a></li>
				<li><a href="#">收藏</a></li>
				<li><a href="#">文件下载</a></li>
			</ul>


		</div>
		<div class="main">
			<div class="content">
				<div class="leftContent">
                    <!-- 用户信息 -->
					<div class="banner">
                        {% for u in userinfo %}
                            <div class="uinfoDiv clearfix" uid="{{ u.id }}">
                                <div class="uhead" style="background: url('../../../{{ u.img }}') no-repeat center;"></div>
                                <h4>{{ u.uname }}</h4>
                                <p class="chickenSoup">{{ u.chickenSoup }}</p>
						    </div>
                        {% endfor %}
					</div>

                    <!--  书签分类  -->
					<div class="bookMarkClassifyDiv">
						<p class="book_mark_title">书签分类</p>
						{% for t in bookMarkClassifyRet %}
                            <div class="bookMarkClassifyItem" classifyid="{{ t.id }}">
                                <a href="#" onclick="getArticlesByTag({{ t.id }}, {{ t.name }})">{{ t.name }}</a>
                                <a href="#">100个</a>
                            </div>
                        {% endfor %}
					</div>

                    <div class="new_articles ">
                        <p class="new_articles_title">最新文章</p>
                        {% for article in articles %}
                            <div class="article clearfix1" onclick="showArticleDetial({{ article.id }})">
                            <p class="article_title">{% substringFilter article.title 10 %}</p>
                            <p class="article_createTime">{% utc_to_local article.createTime %}</p>
                        </div>
                        {% endfor %}
                    </div>

				</div>
				<div class="rightContent">
                    <div class="addBookmarkDiv clearfix1">
                        <p class="addBookmarkBtn"><a href="javascript:void(0);" title="添加书签" onclick="addNewBooMark()"></a></p>
                        <div class="addBookmarkForm">
                            <div>
                                <p><span>描述：</span><input type="text" class="bookMarkDes"></p>
                                <p><spqn>地址：</spqn><input type="text" class="bookMarkUrl"></p>
                                <div class="saveBtn">
                                        <a href="javascript:void(0);" onclick="cancleAddBookMark()" title="关闭">Close</a>&nbsp;
                                        <a href="javascript:void(0);" onclick="bookMark('add')" title="保存书签">Save</a>
                                </div>
                                <div>
                                   <span>类别：</span>
                                    <select class="markClassifySel">
                                        <option value="-1">全部</option>
                                        {% for item in bookMarkClassifyRet %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <a class="addNewClassifyBtn" href="javascript:void(0);" title="添加分类" onclick="addNewMarkClassify()"></a>
                                    <a class="editClassifyBtn" href="javascript:void(0);" title="编辑分类" onclick="editMarkClassify()"></a>
                                    <input class="addNewClassify" type="text" placeholder="添加类别"/>
                                    <a class="cancleSaveNewClassifyBtn" href="javascript:void(0);" title="取消" onclick="cancleSaveMarkClassify()"></a>&nbsp;
                                    <a class="saveNewClassifyBtn" href="javascript:void(0);" title="保存分类" onclick="saveMarkClassify()"></a>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 文章 -->
                    <div class="bookMarkDiv">

                    </div>
                    <p class="load_more"><a href="javascript:void(0)" onclick="bookMark('loadMoreBookMark-'+pageSize+'-'+currentPageNum)"></a></p>
				</div>
			</div>

		</div>
	</body>
</html>
