<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" href="../static/css/clock.css" />
		<script src="../static/js/jquery.js"></script>
	</head>
	
	<body style="width:255px;height:100px;" >
		
		<div class="box" id="clock">
		    <!-- 日期 -->
		    <h3 class="date_info" id="date_info"></h3>
		    
		    <!-- 星期 -->
		    <h4 class="now_week" id="now_week"></h4>
		    
		    <!-- 时间 -->
		    <p class="time_info" id="time_info"></p>
		   
		</div>
	
		
		<script src="../static/js/clock.js"></script>
	
	</body>
</html>