<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../static/css/index.css"/>
        {% load  CustomFilter %}
	</head>
	<body>
		<div class="nav">
			
			<img class="blogimg" src="../static/images/blog_icon.png"/>
			
			<div class="addblogDiv">
				<!--<img src="images/blog_add.png" />-->
				<a href="add_blog.html" target="_self"></a>
			</div>
			
			<div class="searchInput">
				<input placeholder="搜索框"/>
				<button class="searhBtn">搜索</button>
			</div>
			
			<ul>
				<li><a href="#">主页</a></li>
				<li><a href="#">文章</a></li>
				<li><a href="#">收藏</a></li>
				<li><a href="#">文件下载</a></li>
			</ul>
			
			
		</div>
		<div class="main">
			<div class="content">
				<div class="leftContent">
					<div class="banner">
						<div class="uhead clearfix" >
							<h4>唠唠叨叨</h4>
							<p class="chickenSoup">只要思想不滑坡，办法总比困难多</p>
							
						</div>
					</div>
					
					<div class="calendarDiv">
						<iframe class="clockFrame" scrolling="no"
							 src="clock.html" width="100%" height="100%">
						</iframe>
					</div>
					
					<div class="articleClassify">
						<h4>分类</h4>
						<ul>
							<li><a href="#">Python</a></li>
							<li><a href="#">Java</a></li>
							<li><a href="#">C#</a></li>
							<li><a href="#">Flex</a></li>
							<li><a href="#">Python</a></li>
							<li><a href="#">Java</a></li>
							<li><a href="#">C#</a></li>
							<li><a href="#">Flex</a></li>
						</ul>
					</div>
					<div class="articleTag articleClassify">
						<h4>标签</h4>
						<ul>
							<li><a href="#">Python</a></li>
							<li><a href="#">Java</a></li>
							<li><a href="#">C#</a></li>
							<li><a href="#">Flex</a></li>
							<li><a href="#">Python</a></li>
							<li><a href="#">Java</a></li>
							<li><a href="#">C#</a></li>
							<li><a href="#">Flex</a></li>
						</ul>
					</div>
					
				</div>
				<div class="rightContent">
                    {% for article in articles %}
                        <div class="article">
                            <p class="blog_op">
                                <a href="editBlog/?id={{ article.id }}" class="blog_edit"></a>
                                <!--<a href="#" class="blog_del"></a>-->
                            </p>

                            <h4 class="articleTitle">
                                {{ article.title }}
                            </h4>
                            <p class="articleSummery">

                                {% substringFilter article.content %}
                            </p>


                            <div class="article_info">
                                <span>发布时间: {{ article.createTime }} &nbsp;&nbsp;&nbsp;分类: {{ article.classify.name }} &nbsp;&nbsp;&nbsp;标签:
                                    {% for tag in article.tag.all %}
                                       &nbsp;{{ tag.name }}
                                {% endfor %}
                                </span>
                            </div>
					    </div>
                    {% endfor %}

					
{#					<div class="article">#}
{#						<p class="blog_op">#}
{#							<a href="#" class="blog_edit"></a>#}
{#						</p>#}
{#						<h4 class="articleTitle">#}
{#							发到公司打工说过说过是否是#}
{#						</h4>#}
{#						<p class="articleSummery">#}
{#							#}
{#							发生的发生发生发发送发发大发生大发打算法#}
{#						</p>#}
{#						#}
{#						<div class="article_info">#}
{#							<span>2019-03-31 14:02:36 &nbsp;&nbsp;&nbsp;分类: 122 &nbsp; 是de &nbsp;&nbsp;&nbsp;标签:	2、3</span>#}
{#						</div>#}
{#					</div>#}
				</div>
			</div>
			
			<!--<div class="footer">
				<p class="Copyright">Copyright &copy;2019 &nbsp; www.xiaohong.com</p>
				
			</div>-->
		</div>
	</body>
</html>
