<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/css/login.css?r=6" />
    <link rel="stylesheet" href="/static/css/dataCampLight.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/plugins/imageCut/js/iscroll-zoom.js"></script>
    <script src="/static/plugins/imageCut/js/hammer.js"></script>
    <script src="/static/plugins/imageCut/js/lrz.all.bundle.js"></script>
    <script src="/static/plugins/imageCut/js/jquery.photoClip.js"></script>


    <script>
        function showRegesitPage(){
            $('title').text('注册');
            $(".regustDiv").slideDown();
            {#$(".loginDiv").slideUp('fast');#}

        }

        function showLoginPage(){
            $('title').text('登录');

            {#$(".loginDiv").slideDown('fast');#}
            $(".regustDiv").slideUp();
        }

        window.onload = function() {
            $('.loginInfoDiv').find('.verificationcode').find('img').attr("src", "../verifycode/?d="+new Date().getTime());
            clip();
        }

        function loadVerifycode(){
            $.ajax({
                url: "verifycode/",
                type: "get",
                success:function (args) {
                    //console.log(args);
                    $(".loginInfoDiv").find(".verificationcode").find("img").attr("src", args);
                }
            });
        }

    var headers = [];
        function clip(){

            $("#clipArea").photoClip({
                size: [100, 100],
                file: "#file",
                ok: "#clipBtn",
                view:"#imgcav",
                rotaBtn:'#rotaBtn',
                bigBtn:'#bigImg',
                smallBtn:'#smallImg',
                outputSize:[100, 100],
                outputType: 'png',
                loadStart: function() {
                    console.log("照片读取中");
                },
                loadComplete: function() {
                    console.log("照片读取完成");
                },

                clipFinish: function(dataURL) {

                    headers.push(dataURL); //100x100 48x48 35x35
                    //console.log(headers);
                    var img = '<img src="'+dataURL+'">';
                    //$('#uploadUserHeadDiv').html(img);
                    $('.uploadUserHeadDiv').css('background','url("'+headers[0]+'") no-repeat  center');
                    hideUploadHeadWeidget();
                }
            });
        }

        function opuploadHeadWediget(){
            $('.headerCutDiv').css('display', 'inline-block');
        }

        function hideUploadHeadWeidget(){
            $('.headerCutDiv').css('display', 'none');
        }

        function startRegistUser(){
            //console.log($('.registInfoDiv').find('.uname').find('input'));
            var uname = $('.registInfoDiv').find('.uname').find('input').val();
            var upwd = $('.registInfoDiv').find('.passwd').find('input').val();
            var uemail = $('.registInfoDiv').find('.email').find('input').val();
            var uhead_100x100 = null;
            var uhead_48x48 = null;
            var uhead_35x35 = null;

            if(!uname){
                hideRegistInfoErrorTip('.registInfoDiv', '.uname', $('.registInfoDiv').find('.uname'));
            }
            if(!upwd){
                hideRegistInfoErrorTip('.registInfoDiv', '.passwd', $('.registInfoDiv').find('.passwd'));
            }
            if(!uemail){
                hideRegistInfoErrorTip('.registInfoDiv', '.email', $('.registInfoDiv').find('.email'));
            }

            if(!uname || !upwd || !uemail){
                return;
            }

            var reqData = {uname:uname, upwd:upwd, uemail:uemail};
            if(headers.length > 0){
                uhead_100x100 = headers[0];
                uhead_48x48 = headers[1];
                uhead_35x35 = headers[2];
                reqData = {uname:uname, upwd:upwd, uemail:uemail, uhead_100x100:uhead_100x100, uhead_48x48:uhead_48x48, uhead_35x35:uhead_35x35};
            }

            $.ajax({
                url: "blog/registUser/",
                data: reqData,
                type: "POST",
                dataType: "json",
                success: function(args){
                    //console.log(args);
                    alert(args.message);
                    if(args.status){
                        showLoginPage();
                    }
                }
            });
        }

        function unameInputValChanged_regist(el){
            hideRegistInfoErrorTip('.registInfoDiv', '.uname', el);
        }
        function passwordInputValChanged_regist(el){
            hideRegistInfoErrorTip('.registInfoDiv', '.passwd', el);
        }
        function emailInputValChanged_regist(el){
            hideRegistInfoErrorTip('.registInfoDiv', '.email', el);
        }

        function hideRegistInfoErrorTip(parentElClassName, elClassName, el){
            var displayState = "inline-block";
            if($(el).val()){
                displayState = "none";
            }
            //console.log($(el).val(), elClassName, $('.registInfoDiv').find(elClassName).find("span:last-child"), displayState);
            $(parentElClassName).find(elClassName).find("span:last-child").css("display", displayState);
        }

        function startLogin(){
            var uname = $('.loginInfoDiv').find('.uname').find('input').val();
            var upwd = $('.loginInfoDiv').find('.passwd').find('input').val();
            var verificationcode = $('.loginInfoDiv').find('.verificationcode').find('input').val();

            if(!uname){
                hideRegistInfoErrorTip('.loginInfoDiv', '.uname', $('.loginInfoDiv').find('.uname'));
            }
            if(!upwd){
                hideRegistInfoErrorTip('.loginInfoDiv', '.passwd', $('.loginInfoDiv').find('.passwd'));
            }
            if(!verificationcode){
                hideRegistInfoErrorTip('.loginInfoDiv', '.verificationcode', $('.loginInfoDiv').find('.verificationcode'));
            }

            if(!uname || !upwd || !verificationcode){
                return;
            }

            $.ajax({
                url: "blog/startLogin/",
                data: {uname:uname, upwd:upwd, verificationcode:verificationcode},
                type: "Post",
                dataType: "json",
                success:function (args) {
                    console.log(args);
                    if(args.status){
                        window.location.href = "blog/?uid="+args.user.uid;
                    }else{
                        alert(args.message);
                        $('.loginInfoDiv').find('.verificationcode').find('img').attr("src", "../verifycode/?d="+new Date().getTime());
                    }
                }
            });
        }

        function keyLogin(){
            if (event.keyCode==13){  //回车键的键值为13
               startLogin();
            }
        }

        function keyRegist(){
            if (event.keyCode==13){  //回车键的键值为13
               startRegistUser();
            }
        }

        function closeDataCampLight(){
            {#alert($('.dataCampLight'));#}
            $('.dataCampLight').slideUp();
        }

        function forgetPwdBtn(){
            $('.modifyPwdDiv').slideDown();
        }

        function cancleModifyPwd(){
           clearTimeout(to);
           $('.modifyPwdDiv').slideUp();
           $('.modifyPwdDiv').find("input").val("");
           changeClickSendyzmBtnState(false);
           $('.modifyPwdDiv').find('.sendyzm').text("发送验证码");
        }

        function sendVerificationCodeToEmail(){

           var mpwd_email = $('.modifyPwdDiv').find('.email').find("input[type='email']");
           var email_tip = $('.modifyPwdDiv').find('.email').find('span:last-child');
           var email_val = $(mpwd_email).val();
           re = /^[\w-]+@[A-Za-z0-9]+\.(com|cn|net)$/g;
           var email_isok = re.test(email_val);
           if(!email_val){
                $(email_tip).text("请输入邮箱地址");
           }else if(!email_isok){
                $(email_tip).text("邮箱格式错误");
           }

           if(!email_val || !email_isok){
                $(email_tip).css("display", "inline-block");
                 return;
           }else{
               $(email_tip).css("display", "none");

               changeClickSendyzmBtnState(true);
               $('.modifyPwdDiv').find('.sendyzm').text('正在发送...');
               sendVerificationCode(email_val);
           }
        }

        function sendVerificationCode(email){
            $.ajax({
                url:'blog/sendVerificationCodeToEmail/',
                type:'post',
                data:{'email':email},
                dataType:'json',
                success:function (data) {
                    if(data.issuccess){
                        countDown();
                    }else{
                        alert(data.msg);
                    }
                }
            });
        }


        var i = 60;
        var to = null;
        function countDown() {
            i = i - 1;
            changeClickSendyzmBtnState(true);
            $('.modifyPwdDiv').find('.sendyzm').text(i+ '秒后重新发送');

            if (i == 0) {
                changeClickSendyzmBtnState(false);
                $('.modifyPwdDiv').find('.sendyzm').text("重新发送");

                i = 60;
                return;
            }
             to = setTimeout('countDown()',1000);
        }

        function changeClickSendyzmBtnState(disabled){
            if(disabled){
                $('.modifyPwdDiv').find('.sendyzm').removeAttr("onclick");
                $('.modifyPwdDiv').find('.sendyzm').css("cursor", "not-allowed");
                $('.modifyPwdDiv').find('.sendyzm').css("color", "grey");
            }else{
                $('.modifyPwdDiv').find('.sendyzm').attr("onclick", "sendVerificationCodeToEmail()");
                $('.modifyPwdDiv').find('.sendyzm').css("cursor", "allowed");
                $('.modifyPwdDiv').find('.sendyzm').css("color", "blue");
            }

        }
        function confirmModufyPwd(){

            clearTimeout(to);

            var uname = $('.modifyPwdDiv').find('.uname').find('input').val();
            var pwd = $('.modifyPwdDiv').find('.passwd').find('input').val();
            var verificationcode =  $('.modifyPwdDiv').find('.verificationcode').find('input').val();
            var email =  $('.modifyPwdDiv').find('.email').find('input').val();


            if(!uname){
                hideRegistInfoErrorTip('.modifyPwdDiv', '.uname', $('.modifyPwdDiv').find('.uname'));
            }
            if(!pwd){
                hideRegistInfoErrorTip('.modifyPwdDiv', '.passwd', $('.modifyPwdDiv').find('.passwd'));
            }
            if(!verificationcode){
                hideRegistInfoErrorTip('.modifyPwdDiv', '.verificationcode', $('.modifyPwdDiv').find('.verificationcode'));
            }

            if(!uname || !pwd || !verificationcode || !email){
                return;
            }

            $('.modifyPwdDiv').find('.divMark').css("display", "inline-block");

            $.ajax({
                url:'blog/confirmModufyPwd/',
                type:'post',
                dataType:'json',
                data:{'uname':uname, 'pwd':pwd, 'verificationcode':verificationcode, 'email':email},
                success:function (data) {

                    alert(data.msg);
                    if(data.issuccess){
                        window.location.href = './';
                    }

                    changeClickSendyzmBtnState(false);

                    $('.modifyPwdDiv').find('.sendyzm').text("发送验证码");
                    $('.modifyPwdDiv').find('.divMark').css("display", "none");
                }
            });
        }

        function showMark(show){


        }


    </script>

</head>
<body>

    <div class="watermarkDiv"></div>
    <div class="loginDiv" onkeydown="keyLogin()">

        <a href="javascript:void(0);" class="showRegesitPage" onclick="showRegesitPage()">注册</a>

        <div class="loginIcon"></div>
        <div class="uLoginInfoDiv loginInfoDiv">
            <div class="uname">
                <p><span>用户名: </span><span style="color: red;">用户名不能为空</span></p>
                <input type="text" spellcheck="false"/>
            </div>
            <div class="passwd">
                <p><span>密码: </span><span style="color: red;">密码不能为空</span></p>
                <input type="password" spellcheck="false"/>
            </div>
            <div class="verificationcode">
                <p><span>验证码: </span><span style="color: red;">请输入验证码</span></p>
                <input type="text" spellcheck="false">
                <img />
            </div>
            <div class="loginBtnDiv">
                <a href="javascript:void(0);" onclick="confirmModufyPwd()">登录</a>
            </div>

        </div>
        <a href="javascript:void(0);" class="forgetPwdBtn" onclick="forgetPwdBtn()">忘记密码？</a>

        <div class="modifyPwdDiv">
            <div class="modifyPwdDivTip">密码重置</div>
            <div class="uname">
                <p><span>用户名: </span><span style="color: red;">用户名不能为空</span></p>
                <input type="text" spellcheck="false"/>
            </div>
             <div class="passwd">
                <p><span>密码: </span><span style="color: red;">密码不能为空</span></p>
                <input type="password" spellcheck="false"/>
            </div>
            <div class="email">
                <p><span>邮箱: </span><span style="color: red;">邮箱不能为空</span></p>
                <input type="email" spellcheck="false" >
                <a href="javascript:void(0);" class="sendyzm" onclick="sendVerificationCodeToEmail()">发送验证码</a>
            </div>
            <div class="verificationcode">
                <p><span>验证码: </span><span style="color: red;">请输入验证码</span></p>
                <input type="text" spellcheck="false">
            </div>

            <div class="cancleModifyDiv">
                <a href="javascript:void(0);" onclick="cancleModifyPwd()">取消</a>
            </div>

            <div class="confirmModifyDiv">
                <a href="javascript:void(0);" onclick="confirmModufyPwd()">修改</a>
            </div>

            <div class="divMark"></div>

        </div>

    </div>

    <div class="regustDiv" onkeydown="keyRegist()">
        <div class="headerCutDiv">
            <a href="javascript:void(0);" onclick="hideUploadHeadWeidget()"></a>
            <div class="boxCen">
                <div id="clipArea" class="file-clip"></div>
                 <div class="uploadImageOprationDiv">
                     <div class="file">
                        <div class="file-btn uploadBtn"><span>打开图片</span></div>
                        <input type="file" class="service-file" id="file" accept="image/jpeg,image/jpg,image/png"/>
                    </div>
                     <div class="file-btn" id="bigImg" >放大</div>
                    <div class="file-btn" id="smallImg">缩小</div>
                    <div class="file-btn" id="clipBtn">裁剪</div>
                    <div class="file-btn" id="rotaBtn">旋转</div>
                 </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="showLoginPage"  onclick="showLoginPage()">登录</a>

        <div class="uploadUserHeadDiv" onclick="opuploadHeadWediget()">
        {#<input class="uploadUserHeadFile" type="file" accept="image/jpeg,image/jpg,image/png"/>#}
        </div>
        <p class="uploadUserHeadP">上传头像</p>

        <div class="uLoginInfoDiv registInfoDiv">
            <div class="uname">
                <p><span>用户名: </span><span style="color: red;">用户名不能为空</span></p>
                <input type="text" spellcheck="false" oninput ="unameInputValChanged_regist(this)"/>
            </div>
            <div class="passwd">
                <p><span>密码: </span> <span style="color: red;">密码不能为空</span></p>
                <input type="password" spellcheck="false" oninput ="passwordInputValChanged_regist(this)"/>
            </div>
            <div class="email">
                <p><span>邮箱: </span><span style="color: red;">邮箱输入不正确</span></p>
                <input type="email" spellcheck="false" oninput ="emailInputValChanged_regist(this)">
            </div>
            <div class="loginBtnDiv">
                <a href="javascript:void(0);" onclick="startRegistUser()">注册</a>
            </div>
        </div>

    </div>

{#<div class="dataCampLight">#}
{#    <a class="closeDataCampLightBtn" href="javascript:void(0);" onclick="closeDataCampLight()"></a>#}
{#</div>#}
</body>
</html>