<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="/static/plugins/zTree_v3/css/metroStyle/metroStyle.css" type="text/css">
		<link rel="stylesheet" href="/static/css/index.css?rn=11" />
		<link rel="stylesheet" href="/static/css/index.css?rn=11" />
		<link rel="stylesheet" href="/static/css/video_play.css?rn=111" />
        <script type="text/javascript" src="/static/plugins/zTree_v3/js/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="/static/plugins/zTree_v3/js/jquery.ztree.core.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/settings.js?rn=111"></script>
		{% load CustomFilter %}

		<script>
			window.onload = function() {
				showFiles(video_root_path);
			}

			function showFiles(path) {
				$.ajax({
					url: '../list_dir/',
					data: {
						fpath: path,
						type: 'video'
					},
					type: 'post',
					dataType: 'json',
					success: function(args) {
						$('.time_line').children().remove();
						$('.time_line').text("");
						$('.time_line').append(parseTimeLine(path));
						$('.file_div').children().remove();
						var html_el = "";
						for(i in args) {
							var fileType = "file";
							var item = args[i];

							if(item.isParent) {
								fileType = "folder";
							}

							var p = item.path;
							p = p.replace(/\\/g, '\\\\');
							var s = 'ba'
							html_el += '<div class="fileDir ' + fileType + '" fpath="' + p + '" ondblclick="openDir(\'' + p + '\',\'' + fileType + '\')" style=""><div class="' + fileType + '_icon" ></div><div class="ellipsis" title="' + item.name + '">' + item.name + '</div></div>';
						}

						$('.file_div').append(html_el);
					}
				});
			}

			function parseTimeLine(path) {
				var el_a = '';

				path = path.replace(/\\/g, '/');

				if(path == video_root_path || path + "/" == video_root_path) {
					//el_a = '<a href="javascript:void(0);" ondblclick="openDir(\''+ video_root_path +'\', \'folder\')">root</a>' + '/';#}
					el_a += 'root/';
				} else {
					path = path.replace(video_root_path, 'root/');
					var paths = path.split('/');

					if(paths) {
						for(var i = 0; i < paths.length - 1; i++) {
							//console.log(paths[i]);
							var el_a_href = '';

							for(var n = 0; n <= i; n++) {
							    el_a_href += paths[n] + "/";
							}

							el_a_href = el_a_href.replace('root/', video_root_path);

							el_a_href = el_a_href.substring(0, el_a_href.length-1);
							el_a += '<a href="javascript:void(0);" onclick="openDir(\'' + el_a_href + '\', \'folder\')">' + paths[i] + '</a>/';
						}
						el_a += paths[paths.length - 1] + '/';
					}
				}
				//console.log(el_a);
				el_a = '>> ' + el_a;
				return el_a;
			}

			function openDir(path, fileType) {
				if(fileType == 'folder') {

					showFiles(path);
				} else {
					//console.log(path.length + 'videoPlayer://'.length);
					//getVideoUrl(path);
					//console.log(('videoPlayer://' + path).length);
                    $.ajax({
                        url: '../getVideoFilePlayUrl/',
                        type: 'Get',
                        data: {path:path},
                        dataType: 'json',
                        success: function (args) {
                            if(args.status){

                                window.location.href = 'videoPlayer://' + args.playUrl;
                            }else{
                                alert('视频播放地址获取失败');
                            }
                        }
                    });
				}
			}

			function showArticleDetial(uid, articleid){
			    //console.log(uid, articleid);
				window.open("../article/" + uid + "/" + articleid, "_blank");
			}
		</script>
	</head>

	<body>
		<div class="nav">

			<a href="/blog/" target="_self"><img class="blogimg" src="/static/images/blog_icon.png" /></a>
			<!--<div class="addblogDiv">
				<a href="articleEdit/" target="_self"></a>
			</div>-->
			<ul>
				<li>
					<a href="../?uid={{ userinfo.uid }}">笔记</a>
				</li>
				<li>
					<a href="../bookMark/p/?uid={{ userinfo.uid }}">书签</a>
				</li>
				<li>
					<a href="../async/?uid={{ userinfo.uid }}">文档</a>
				</li>
				<li>
					<a href="./?uid={{ userinfo.uid }}" style="border-bottom: 2px solid red;">视频</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="content clearfix1">
				<div class="leftContent">
					<!-- 用户信息 -->
					<div class="banner">
						<div class="uinfoDiv clearfix" uid="{{ userinfo.uid }}">
                            <div class="uhead">
                                <img src="{{ userinfo.headImg_48x48 }}">
                            </div>
                            <h4>{{ userinfo.uname }}</h4>
                            <p class="chickenSoup">{{ userinfo.chickenSoup }}</p>
                        </div>
					</div>

					<div class="new_articles ">
						<p class="new_articles_title">最新文章</p>
						{% for article in articles %}
							<div class="article clearfix1" onclick="showArticleDetial({{ userinfo.uid }}, {{ article.id }})">
								<p class="article_title">{% substringFilter article.title 10 %}</p>
								<p class="article_createTime">{% utc_to_local article.createTime %}</p>
							</div>
						{% endfor %}

					</div>
				</div>
				<div class="rightContent">
					<!-- 面包屑 -->
					<div class="time_line">
					</div>
					<div class="videoPluginDpwnload">
						<a href="https://codeload.github.com/Mr-hongji/HtmlCallVideoExeMiddlePlugin/zip/master" title="下载视频播放插件"></a>
					</div>
					<div class="file_div">
					</div>
				</div>
			</div>
			<!--<div class="footer">
				<p class="Copyright">Copyright &copy;2019 &nbsp; www.xiaohong.com</p>
			</div>-->
		</div>
	</body>

</html>